@font-face {
  font-family: 'umefont';
  src: url("/umefont/ume-tmo3.ttf");
}

body {
  padding: 50px;
}

canvas {
  font-family: umefont;
  position: absolute;
}

#main {
  background-color: black;
  z-index: 1;
}

#animation {
  z-index: 2;
}

#ui {
  z-index: 3;
}

p {
  position: absolute;
  top: 550px;
}
