extends layout

block content
  canvas#main(width="640" height="480")
  canvas#animation(width="640" height="480")
  canvas#ui(width="640" height="480")
  
  p ランキングは
    a(href="/ranking") こちら
    
  div.text
    ul
      li 操作方法
      li zキー : 攻撃・決定
      li xキー : メニュー・戻る
      li 十字キー : 移動
      li shiftキー + 十字キー: 方向転換
