html
  head
    meta(charset="utf-8")
    script(src="/javascripts/jquery-3.1.1.min.js" charset="utf-8")
    script(src="/javascripts/index.js" charset="utf-8")
    title= title
    
  body
    p 名前を入力してください
    input#name(type="text" name="text" size="30" maxlength="10")
    button.btn GameStart
