doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    
    script(src="/javascripts/jquery-3.1.1.min.js" charset="utf-8")
    script(src="/javascripts/rot.min.js" charset="utf-8")

    script(src="/javascripts/class/Game/GameBase.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameCharcter.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameEnemy.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameImage.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameItem.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameKey.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameMap.js" charset="utf-8")
    script(src="/javascripts/class/Game/GamePlayer.js" charset="utf-8")
    script(src="/javascripts/class/Game/GameSound.js" charset="utf-8")

    script(src="/javascripts/class/Scene/SceneBase.js" charset="utf-8")
    script(src="/javascripts/class/Scene/SceneDamage.js" charset="utf-8")
    script(src="/javascripts/class/Scene/SceneItem.js" charset="utf-8")
    script(src="/javascripts/class/Scene/SceneMenu.js" charset="utf-8")
    script(src="/javascripts/class/Scene/SceneMove.js" charset="utf-8")
    script(src="/javascripts/class/Scene/SceneStairs.js" charset="utf-8")

    script(src="/javascripts/class/Sprite/SpriteBase.js" charset="utf-8")
    script(src="/javascripts/class/Sprite/SpriteEnemy.js" charset="utf-8")
    script(src="/javascripts/class/Sprite/SpriteItems.js" charset="utf-8")
    script(src="/javascripts/class/Sprite/SpritePlayer.js" charset="utf-8")

    script(src="/javascripts/class/Window/WindowBase.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowHeader.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowItem.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowLogs.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowMap.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowMenu.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowQuit.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowStatus.js" charset="utf-8")
    script(src="/javascripts/class/Window/WindowStairs.js" charset="utf-8")

    script(src="/javascripts/Manager.js" charset="utf-8")
    script(src="/javascripts/main.js" charset="utf-8")

  body
    block content
